<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egrand.sweetapi.web.mapper.ApiScriptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egrand.sweetapi.web.model.entity.ApiScript">
        <result column="api_id" property="apiId"/>
        <result column="script" property="script"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        api_id,
        script
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">egd_esb_api_script</sql>
    <!-- 别名 -->
    <sql id="t_alias">egd_esb_api_script as model</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap" resultType="com.egrand.sweetapi.web.model.entity.ApiScript">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList" resultType="com.egrand.sweetapi.web.model.entity.ApiScript">
        SELECT ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
